.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 90px 320px 50px;
  grid-gap: 3px;
  margin: 220px;
  padding: 10px;
  text-align: center;
  font-size: 32px;
  grid-template-areas: 
  "m h h h ."
  "m c c c ."
  "m f f f ."
  ;
}

.header {
  grid-area: h;
  background-color: blue;
}
.menu {
  grid-area: m;
  background-color: hotpink;
}

.content {
  grid-area: c;
  background-color: yellowgreen;
}
.footer {
  grid-area: f;
  background-color: green;
}
